<div class="container">
    <div class="main mb-5">
        <div class="text">
            <h1>Your Personal dairy</h1>
            <h4>Every heart has a story....</h4>            
          </div>
    </div>
    <div class="row mb-5">        
        <div class="col-md-5 ml-5"><img src="https://images-na.ssl-images-amazon.com/images/I/71anfpm25GL._SL1500_.jpg" style="height: 400px;"></div>
        <div class="col-md-6 mr-4 mt-5"><p>Writing in a diary is a really strange experience for someone like me. 
                                Not only because I've never written anything before, but also because it 
                                seems to me that later on neither I nor anyone else will be interested in the 
                                musings of a thirteen-year-old schoolgirl.</p>
                                <small class="text-muted"> - Anne Frank</small>
                                <p class="mt-5">What is a diary as a rule? A document useful to the person who keeps it. 
                                Dull to the contemporary who reads it and invaluable to the student, centuries afterwards, 
                                who treasures it.</p>
                                <small class="text-muted"> - Walter Scott</small>
                            
         </div>
    </div>
    <div class="row mb-5">        
        
        <div class="col-md-6 mr-4 mt-5"><p>I always had music growing up, but music was also like a journal. 
                                It was like my personal diary or personal journal. A lot of the things I 
                                couldn't express to an individual, I would express them in my music.</p>
                                <small class="text-muted"> - Kevin Gates</small>
                                <p class="mt-5">There's a gap between what I want to do, what I do on camera, 
                                and what gets edited. Right? So the goal is to try and close the gaps. What's the 
                                biggest compliment is if I read a review and it's exactly what I wrote down in my 
                                diary before ever filming it. That's really cool. That's the biggest signifier of closing the gaps.</p>
                                <small class="text-muted"> - Matthew McConaughey</small>
                            
         </div>
         <div class="col-md-5 ml-5"><img src="https://images-na.ssl-images-amazon.com/images/I/71YsriITw6L._SY355_.jpg" style="height: 400px;"></div>
    </div>








</div>
